body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
}

#selectEmployee {
    margin-left: 43%;
    width: 14%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

#selectEmployee:focus {
    background-color: #ddd;
    outline: none;
}

#calendar {
    margin: 50px 100px;
    padding: 20px;
    background-color: #f1f1f1;
    color: black
}

.fc-time-grid-event.fc-event.fc-start.fc-end:hover {
    color: white !important;
    opacity: 0.9;
}