// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-dark: rgb(45, 19, 44);
$lighter-purple: #5a3c58;
$red: rgb(128, 19, 54);
$orange: rgb(199, 44, 65);
$light-orange:rgb(238, 69, 64);
$white: rgb(255,255,255);